.pagination {
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
  }
  .page-link {
    padding: 0;
    margin: 10px 12px;
    cursor: pointer;
    width: 30px;
    height: 35px;
    line-height: 36px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    color: rgb(156 154 154);
    font-size: 19px;
    -webkit-user-select: none;
    user-select: none;
  }
  .prev-next-link {
    font-size: 25px;
    line-height: 30px;
  }
  .page-link:hover {
    color: black;
  }
  
  .page-item.active > .page-link {
    color: white;
    background: #0b1361d9;
  }
  @media only screen and (max-width: 1023px) {
    .page-link {
      margin: 8px 9px;
      font-size: 15px;
      width: 32px;
      height: 24px;
      line-height: 24px;
    }
  }
  @media only screen and (max-width: 575px) {
    .page-link {
      margin: 8px 5px;
      font-size: 13px;
      width: 25px;
      height: 20px;
      line-height: 20px;
    }
  }
  